{
  "swagger": "2.0",
  "info": {
    "description": "REST API zur Bereitstellung von AvaL Stammdaten",
    "version": "1.2.23 (21.03.2022 11:11 UTC)",
    "title": "AvaL Stammdaten REST API",
    "contact": {
      "name": "AvaL Standard",
      "url": "https://www.avalstandard.de",
      "email": "info@avalstandard.de"
    }
  },
  "host": "www.avalstandard.de",
  "basePath": "/aval-stammdaten-webapi",
  "tags": [
    {
      "name": "CatalogController",
      "description": "Controller zur Abfrage der AvaL Stammdaten Kataloge"
    }
  ],
  "paths": {
    "/catalog": {
      "get": {
        "tags": [
          "CatalogController"
        ],
        "summary": "Liste aller verfügbaren AvaL Stammdaten Kataloge",
        "operationId": "getCatalogsUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CatalogDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/catalog/{avalTagAndVersion}/entries": {
      "get": {
        "tags": [
          "CatalogController"
        ],
        "summary": "Vorhandene Einträge des gegebenen AvaL Stamdaten Kataloges",
        "operationId": "getEntriesUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "avalTagAndVersion",
            "in": "path",
            "description": "avalTagAndVersion",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CatalogEntryDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/catalog/{avalTagAndVersion}/structure": {
      "get": {
        "tags": [
          "CatalogController"
        ],
        "summary": "Mögliche Daten des gegebenen AvaL Stamdaten Kataloges",
        "operationId": "getStructureAndDataUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "avalTagAndVersion",
            "in": "path",
            "description": "avalTagAndVersion",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CatalogPartDTOForData"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {
    "Catalog": {
      "type": "object",
      "properties": {
        "avalTag": {
          "type": "string"
        },
        "catalogVersion": {
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogEntry"
          }
        },
        "firstUser": {
          "type": "string"
        },
        "firstUserId": {
          "type": "integer",
          "format": "int32"
        },
        "firstdate": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lastUser": {
          "type": "string"
        },
        "lastUserId": {
          "type": "integer",
          "format": "int32"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogPart"
          }
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "validFrom": {
          "type": "string",
          "format": "date-time"
        },
        "validTo": {
          "type": "string",
          "format": "date-time"
        },
        "version": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Catalog"
    },
    "CatalogDTO": {
      "type": "object",
      "properties": {
        "avalTag": {
          "type": "string"
        },
        "avalTagAndVersion": {
          "type": "string"
        },
        "catalogVersion": {
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "type": "string"
        },
        "lastEntryUpdate": {
          "type": "string",
          "example": "yyyy-MM-dd HH:mm:ss z"
        },
        "lastStructureUpdate": {
          "type": "string",
          "example": "yyyy-MM-dd HH:mm:ss z"
        },
        "numberOfEntries": {
          "type": "integer",
          "format": "int32"
        },
        "numberOfParts": {
          "type": "integer",
          "format": "int32"
        },
        "validFrom": {
          "type": "string",
          "format": "date-time"
        },
        "validTo": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "CatalogDTO"
    },
    "CatalogData": {
      "type": "object",
      "properties": {
        "avalIdPart": {
          "type": "string"
        },
        "catalogPart": {
          "$ref": "#/definitions/CatalogPart"
        },
        "catalogSubPart": {
          "$ref": "#/definitions/CatalogSubPart"
        },
        "description": {
          "type": "string"
        },
        "firstUser": {
          "type": "string"
        },
        "firstUserId": {
          "type": "integer",
          "format": "int32"
        },
        "firstdate": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lastUser": {
          "type": "string"
        },
        "lastUserId": {
          "type": "integer",
          "format": "int32"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "version": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "CatalogData"
    },
    "CatalogDataProjection": {
      "type": "object",
      "properties": {
        "avalIdPart": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "title": "CatalogDataProjection"
    },
    "CatalogEntry": {
      "type": "object",
      "properties": {
        "avalId": {
          "type": "string"
        },
        "avalIdSuffix": {
          "type": "string"
        },
        "catalog": {
          "$ref": "#/definitions/Catalog"
        },
        "description": {
          "type": "string"
        },
        "entryData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogEntryData"
          }
        },
        "firstUser": {
          "type": "string"
        },
        "firstUserId": {
          "type": "integer",
          "format": "int32"
        },
        "firstdate": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lastUser": {
          "type": "string"
        },
        "lastUserId": {
          "type": "integer",
          "format": "int32"
        },
        "nextEntry": {
          "$ref": "#/definitions/CatalogEntry"
        },
        "optionalDescription": {
          "type": "string"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "validFrom": {
          "type": "string",
          "format": "date-time"
        },
        "validTo": {
          "type": "string",
          "format": "date-time"
        },
        "version": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "CatalogEntry"
    },
    "CatalogEntryDTO": {
      "type": "object",
      "properties": {
        "avalId": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "lastUpdate": {
          "type": "string",
          "example": "yyyy-MM-dd HH:mm:ss z"
        },
        "validFrom": {
          "type": "string",
          "format": "date-time"
        },
        "validTo": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "CatalogEntryDTO"
    },
    "CatalogEntryData": {
      "type": "object",
      "properties": {
        "catalogData": {
          "$ref": "#/definitions/CatalogData"
        },
        "catalogDataId": {
          "type": "integer",
          "format": "int32"
        },
        "catalogEntry": {
          "$ref": "#/definitions/CatalogEntry"
        },
        "catalogEntryId": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "CatalogEntryData"
    },
    "CatalogPart": {
      "type": "object",
      "properties": {
        "catalog": {
          "$ref": "#/definitions/Catalog"
        },
        "catalogData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogData"
          }
        },
        "description": {
          "type": "string"
        },
        "firstUser": {
          "type": "string"
        },
        "firstUserId": {
          "type": "integer",
          "format": "int32"
        },
        "firstdate": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lastUser": {
          "type": "string"
        },
        "lastUserId": {
          "type": "integer",
          "format": "int32"
        },
        "pos": {
          "type": "integer",
          "format": "int32"
        },
        "subDataMark": {
          "type": "boolean"
        },
        "subParts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogSubPart"
          }
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "version": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "CatalogPart"
    },
    "CatalogPartDTOForData": {
      "type": "object",
      "properties": {
        "catalogData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogDataProjection"
          }
        },
        "description": {
          "type": "string"
        },
        "hasSubData": {
          "type": "boolean"
        },
        "pos": {
          "type": "integer",
          "format": "int32"
        },
        "subParts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogSubPartDTOForData"
          }
        }
      },
      "title": "CatalogPartDTOForData"
    },
    "CatalogSubPart": {
      "type": "object",
      "properties": {
        "catalogData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogData"
          }
        },
        "catalogPart": {
          "$ref": "#/definitions/CatalogPart"
        },
        "description": {
          "type": "string"
        },
        "firstUser": {
          "type": "string"
        },
        "firstUserId": {
          "type": "integer",
          "format": "int32"
        },
        "firstdate": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lastUser": {
          "type": "string"
        },
        "lastUserId": {
          "type": "integer",
          "format": "int32"
        },
        "pos": {
          "type": "integer",
          "format": "int32"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "version": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "CatalogSubPart"
    },
    "CatalogSubPartDTOForData": {
      "type": "object",
      "properties": {
        "catalogData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogDataProjection"
          }
        },
        "description": {
          "type": "string"
        },
        "pos": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "CatalogSubPartDTOForData"
    },
    "DatatablePageResult«CatalogPart»": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogPart"
          }
        },
        "draw": {
          "type": "integer",
          "format": "int32"
        },
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "pageWithRecord": {
          "type": "integer",
          "format": "int32"
        },
        "pages": {
          "type": "integer",
          "format": "int32"
        },
        "recordsFiltered": {
          "type": "integer",
          "format": "int64"
        },
        "recordsTotal": {
          "type": "integer",
          "format": "int32"
        },
        "size": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "DatatablePageResult«CatalogPart»"
    },
    "ValidationInfo": {
      "type": "object",
      "properties": {
        "mapFieldValidator": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "title": "ValidationInfo"
    }
  }
}